.budget-container{
    margin-left: 30px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    z-index: -1;
}

.budget{
    margin: 0px 10px 20px 10px;
    padding: 20px;
    font-weight: 500;
    background-color: rgb(64, 64, 214);
    width: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px black;
    color: white;
}

.agregar {
    position: relative;
    left: -90px;
    top: 360px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px black;
    cursor: pointer;
    font-weight: 600;
}

.agregar:hover {
    background-color: rgb(195, 195, 195);
}

.agregar:active {
    transform: scale(.95);
    background-color: rgb(195, 195, 195);
}

