*{
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
}

#numLang, #numPage{
  padding: 2px;
  margin: 10px 10px 0 10px ;
  border: solid 1px rgb(202, 202, 202);
  border-radius: 3px;
}

.pages{
  margin-left: 15px;
  margin-right: 15px;
}


